<header class="site-header outer {{if feature_image 'no-cover'}}" style="{{if feature_image coverImageStyle}}">
  <div class="inner">
    <nav class="site-nav-center">
      {{#if blog.logo}}
        <a class="site-nav-logo" href="{{blog.url}}"><img src="{{blog.logo}}" alt="{{blog.title}}" /></a>
      {{else}}
        <a class="site-nav-logo" href="{{blog.url}}">{{blog.title}}</a>
      {{/if}}
    </nav>
  </div>
</header>

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">

    <section class="error-message">
      <h1 class="error-code">{{code}}</h1>
      <p class="error-description">{{message}}</p>
      <a class="error-link" href="{{blog.url}}">Go to the front page →</a>
    </section>
  </div>
</main>

{{#get "posts" limit="3" }}
  <aside class="outer">
    <div class="inner">
      <div class="post-feed">
        {{#each posts as |post|}}
          {{post-card post=post}}
        {{/each}}
      </div>
    </div>
  </aside>
{{/get}}
