<article class="post-card {{post_class}} {{unless post.image 'no-image'}}">
    {{#if post.image}}
      {{#link-to 'post' post.id class="post-card-image-link"}}
            <div class="post-card-image" style="background-image: url({{url post.image}})"></div>
      {{/link-to}}
    {{/if}}
    <div class="post-card-content">
        {{#link-to 'post' post.id class="post-card-content-link"}}

            <header class="post-card-header">
                {{#if post.primary_tag}}
                    <span class="post-card-tags">{{post.primary_tag.name}}</span>
                {{/if}}
                <h2 class="post-card-title">{{post.title}}</h2>
            </header>
            <section class="post-card-excerpt">
                <p>{{excerpt post.html words="33"}}...</p>
            </section>
        {{/link-to}}
        <footer class="post-card-meta">
            {{#if post.author.image}}
                <img class="author-profile-image" src="{{url post.author.image}}" alt="{{post.author.name}}" />
            {{/if}}
            {{#link-to 'author' post.author.id}} {{post.author.name}} {{/link-to}}
            {{!-- <span class="post-card-author">{{post.author.name}}</span> --}}
        </footer>
    </div>
</article>
