
<li>

<p style="font-size: 20px;"><a style="text-decoration: underline;" href="{{url}}">
<b class="check-meta" style="color:#35373a;">{{#if meta_description}}{{meta_title}}{{else}}{{title}}{{/if}}:</b></a>  <time class="order" {{date format="YYYY-MM-DD"}}/>({{date}}) {{#unless meta_description}}{{excerpt}}{{/unless}}{{meta_description}}</p>
</li>