{{{html}}}
<aside class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content" style="background-color: {{accentColor}}">
        {{#has visibility="paid"}}
            <h2>The rest of this post is for paying subscribers only</h2>
        {{/has}}
        {{#has visibility="members"}}
            <h2>This post is for subscribers only</h2>
        {{/has}}
        {{#if @member}}
            <a class="gh-btn" href="https://www.annemariecharrett.com/intro4" style="color:{{accentColor}}">Try 4 weeks premium for</a>
        {{else}}
            <a class="gh-btn" href="https://www.annemariecharrett.com/intro4" style="color:{{accentColor}}">Try 4 weeks premium for free! </a>
            <p><small> I'm not sure yet, <a data-portal="signup"> give me free content for now</a></small></p>
            <p><small> I'm already a member, <a data-portal="signin"> let me sign in! </a></small></p>
        {{/if}}
    </div>
</aside>
    var money = new amplitude.Revenue().setProductId('qc book intro offer').setPrice(1);
    amplitude.getInstance().logRevenueV2(money);

