{{{html}}}
<aside class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content" style="background-color: {{accentColor}}">
        {{#has visibility="paid"}}
            <h2>This post is for paying subscribers only</h2>
        {{/has}}
        {{#has visibility="members"}}
            <h2>This post is for subscribers only</h2>
        {{/has}}
        {{#if @member}}
            <a class="gh-btn" href="https://www.annemariecharrett.com/intro4" style="color:{{accentColor}}">Try 4 weeks premium</a>
        {{else}}
            <a class="gh-btn" href="https://www.annemariecharrett.com/intro4" style="color:{{accentColor}}">Try 4 weeks premium</a>
            <p><small> Just keep me informed thanks <a data-portal="signup"> Sign up</a></small></p>
            <br></br>
            <p><small>Have access and Want to sign in? Here you go! <a data-portal="signin">Sign in</a></small></p>
        {{/if}}
    </div>
</aside>
