{{! Everything inside the #author tags pulls data from the author }}
{{#author}}

{{#if image}}
<figure class="author-image">
  <a class="img" href="{{@blog.url}}/daniel/" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
</figure>
{{/if}}

<section class="author">
  <h4><a href="{{@blog.url}}/daniel/">{{name}}</a></h4>

  {{#if bio}}
  <p>{{bio}}</p>
  {{else}}
  <p>Read <a href="{{@blog.url}}/rss/">more posts</a> by this author.</p>
  {{/if}}
  <div class="author-meta">
    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
  </div>
</section>

{{/author}}

<section class="share">
  <h4>Share this post</h4>
  <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
  onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
  <span class="hidden">Twitter</span>
</a>
<a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
<span class="hidden">Facebook</span>
</a>
<a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
<span class="hidden">Google+</span>
</a>
</section>
