{{#if isSecondary}}
    <!-- secondary navigation -->
    <ul class="nav">
        {{#foreach navigation}}
            <li class="nav-{{slug}}">
                <a href="{{url}}" class="social-link">
                  <svg width="32" height=32 role="img" aria-label="{{slug}} icon">
                    <use xlink:href="#{{slug}}"></use>
                  </svg>
                </a>
            </li>
        {{/foreach}}
    </ul>
{{else}}
    <!-- primary navigation -->
    <ul class="nav">
        {{#foreach navigation}}
            <li class="{{link_class for=(url) class=(concat "nav-" slug)}}">
                <a href="{{url absolute="true"}}">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
{{/if}}
