<div class="post-card-corners">
        <a class="post-card-content-link" href="{{url}}">
                <h2 class="post-card-title" style="color:#d0d0d1;">{{title}}</h2>
            <section class="post-card-excerpt">
                <p style="color:#d0d0d1">{{excerpt}}</p>
            </section>
        </a>   
    <section style="position:absolute;">                
        <time style="color:#d0d0d1;"datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
    </section>
</div>
