<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            {{#if @site.logo}}
                <a class="site-nav-logo" href="https://slingshotlabs.io"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
            {{/if}}
            <div class="site-nav-content">
                {{#if @site.navigation}}
                    {{navigation}}
                {{/if}}
                {{#is "post"}}
                    <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
                {{/is}}
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        {{#if @site.secondary_navigation}}
            {{navigation type="secondary"}}
            <a class="nav-post-title right-nav" href="https://slingshotlabs.io/blog">Blog Home</a>
        {{else}}
            <div class="social-links">
                    <a class="social-link social-link-gh" href="https://github.com/slingshotlabs" title="Slingshot Labs Github" target="_blank">{{> "icons/gitub"}}</a>
              {{!--   {{#if @site.twitter}}
                    <a class="social-link social-link-tw" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                {{/if}} --}}
            </div>
            {{#unless @labs.members}}
                <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
            {{/unless}}
        {{/if}}

        {{#if @labs.members}}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {{/if}}
    </div>
</nav>
