{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header">
  <div class="brand-container">
    <div class="hamburger-menu-icon">
      <div class="menu-icon">
        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
          stroke-linejoin="round" size="36" height="36" width="36">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </div>
      <div class="close-icon">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="36" height="36"
          width="36">
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
          </path>
        </svg>
      </div>
    </div>
    <div class="site-header-content">
      {{#if @site.logo}}
      <a href="https://kiprosh.com" class="site-title">
        <img class="site-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
      </a>
      {{else}}
      {{@site.title}}
      {{/if}}
    </div>
  </div>
  <nav class="site-nav">
    <div class="site-nav-left">
      {{#if @site.navigation}}
      {{navigation}}
      {{/if}}
    </div>
  </nav>
</header>
