{{!< default}}

{{!-- Everything inside the #author tags pulls data from the author --}}
{{#author}}
  <section class="author-header">
    <div class="container wrapper">
      <div class="grid">
        <div class="col-xs-12">
          <div class="author-profile center-xs">

            {{!-- Author profile image --}}
            {{#if cover_image}}
              <div class="author-profile__cover lazyload" data-src="{{img_url cover_image}}"></div>
            {{/if}}

            {{!-- Author Name --}}
            <h2 class="author-profile__name">{{name}}</h2>

            {{!-- Author profile image --}}
            {{#if profile_image}}
              <div class="author-profile__image lazyload" data-src="{{img_url profile_image}}"></div>
            {{/if}}

            {{!-- Author bio --}}
            {{#if bio}}
              <div class="author-profile__description">{{bio}}</div>
            {{/if}}

            <div class="author-profile__meta">
              {{!-- Author location --}}
              {{#if location}}
                <div class="author-profile__meta-location">
                  {{> icon name="map-pin" size="small"}}
                  <p>{{location}}</p>
                </div>
              {{/if}}
              {{!-- Author post number --}}
              <div class="author-profile__meta-count">
                {{> icon name="bar-chart" size="small"}}
                <p>
                  {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
                </p>
              </div>
            </div>

            {{!-- Author social links --}}
            <div class="author-profile__social">
              {{#if twitter}}
                <a class="author-profile__social-link" href="{{twitter_url}}" target="_blank" title="Twitter" aria-label="Twitter">
                  {{> icon name="twitter" class="icon--filled"}}
                </a>
              {{/if}}
              {{#if facebook}}
                <a class="author-profile__social-link" href="{{facebook_url}}" target="_blank" title="Facebook" aria-label="Facebook">
                  {{> icon name="facebook" class="icon--filled"}}
                </a>
              {{/if}}
              {{!-- Author website --}}
              {{#if website}}
                <a class="author-profile__social-link" href="{{website}}" target="_blank" title="Website" aria-label="Website">
                  {{> icon name="link"}}
                </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/author}}

{{!-- The main content/post by the author --}}
{{#if posts}}
<section class="author-posts" id="content">
  <div class="container wrapper">
    <div class="grid">
      {{#foreach posts}}
        <div class="col-xs-12 col-md-4 post-wrapper">
          {{> post-card class="post-card--1-3"}}
        </div>
      {{/foreach}}
    </div>
    <div class="grid more-posts-wrapper">
    </div>
    <div class="grid">
      <div class="col-xs-12 center-xs">
        <button id="load-more-btn" class="btn btn__large btn__wide" onClick="loadMorePosts();">{{t "Load more posts"}}</button>
      </div>
    </div>
  </div>
</section>
{{/if}}
