{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#author}}
{{!-- Everything inside the #author tags pulls data from the author --}}


{{> header background=cover_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
    <div class="inner">
        {{> "site-nav"}}
        <div class="site-header-content">
            {{#if profile_image}}
                <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
            {{/if}}
        </nav>
    </header>

    <section class="author-profile inner">
        {{#if image}}
        <figure class="author-image">
            <div class="img" style="background-image: url({{profile_image}})"><span class="hidden">{{name}}'s Picture</span></div>
        </figure>
        {{/if}}
        <h1 class="author-title">{{name}}</h1>
        {{#if bio}}
            <h2 class="author-bio">{{bio}}</h2>
        {{/if}}
        <div class="author-meta">
            {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
            {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
            <span class="author-stats"><i class="icon-stats"></i> {{plural ../pagination.total empty='Aucun article' singular='% article' plural='% articles'}}</span>
        </div>
    </div>
</header>
{{/author}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>