<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {{!-- Document Settings --}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    {{!-- <link rel="stylesheet" type="text/css" href="{{asset 'css/app.min.css'}}" /> --}}
    {{> compiled/inline-css }}

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    {{!-- Icons --}}
    {{> svg-sprite}}

    {{!-- The blog navigation links --}}
    {{> header}}

    {{!-- Blog search --}}
    {{> search}}

    <main class="main">
      {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
      {{{body}}}
    </main>

    {{!-- The footer at the very bottom --}}
    {{> footer}}

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}

    {{!-- Global variables --}}
    <script>
      // The number of pages available for loading more posts
      var maxPages = parseInt('{{pagination.pages}}');

      // Disqus shortname
      // Replace 'bironthemes-demo' with your disqus account shortname
      var disqus_shortname = 'biron-demo';
    </script>

    {{!-- Main theme scripts --}}
    <script async src="{{asset 'js/app.min.js'}}"></script>
  </body>
</html>
