<!DOCTYPE html>
<html>

<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{#if @blog.logo}}<link rel="shortcut icon" href="{{@blog.logo}}">{{/if}}

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />
</head>

<body class="{{body_class}}">

    <div id="sidebar" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        <div id="sidebar-content" class="inner">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
            <h2 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h2>
            <h3 class="blog-description">{{@blog.description}}</h3>

            <form id="search">
                <input id="search-field" placeholder="Search"/>
            </form>

            <div id="sidebar-links">
                <ul id="subscription-links">
                    <li><a target="_blank" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i>Subscribe via RSS</a></li>
                    <!-- No support yet
                    <li><a target="_blank" href=" "><i class="fa fa-envelope"></i>Subscribe via email<a></li>
                    -->
                </ul>
                <ul id="navigation">
                    {{navigation}}
                </ul>
                <ul id="sidebar-external">
                    {{> sidebar-external}}
                </ul>
            </div>

            <footer class="site-footer">
                <section class="copyright">{{> copyright}}</section>
                <section class="poweredby">
                    <i class="icon-ghost"></i><a href="https://ghost.org">Ghost</a> -
                    <a href="https://github.com/dlecina/StayPuft">StayPuft theme</a>
                </section>
            </footer>
        </div>
    </div>

    <main>
        <div class="main-inner">
            <section id="results"></section>
            {{{body}}}
        </div>
    </main>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/prism-loader.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    <script src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
    <script>
        $("#search-field").ghostHunter({
            rss : "{{@blog.url}}/rss/",
            results : "#results",
            onKeyUp : true,
            zeroResultsInfo : false
        });
    </script>
</body>

</html>
