<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ghostGlobals.title}} | {{ghostGlobals.description}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
    <header>
        <a id="logo" href="/"><img src="/content/images/logo.png" alt="Logo"></a>
        <a id="title" href="/">{{ghostGlobals.title}}</a>
        <p id="description">{{ghostGlobals.description}}</p>
        <div class="clearfix"></div>
    </header>
    {{{body}}}
</body>
</html>