<!DOCTYPE html>
<html>
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "assets/public/screen.css"}}" />

    {{!-- This tag outputes SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
                <nav class="site-footer-nav">
                    <a href="{{@blog.url}}">Latest Posts</a>
                    {{#if @blog.facebook}}<a href="{{facebook_url}}">Facebook</a>{{/if}}
                    {{#if @blog.twitter}}<a href="{{twitter_url}}">Twitter</a>{{/if}}
                    <a href="https://ghost.org" target="_blank">About Ghost</a>
                </nav>
            </div>
        </footer>

    </div>

    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script>

    // TODO: Only include this on post.hbs - preferably put in floating-header.hbs and pass up to ghost_foot via block helper or similar.
    $(function() {
        $(window).scroll(function() {
            var header = $(".floating-header");
            var title = $(".post-full-title");
            var trigger = title.offset().top;
            var scroll = $(window).scrollTop();

            if (scroll >= trigger + title.height() + 35 ) {
                header.addClass("floating-active");
            } else {
                header.removeClass("floating-active");
            }
        });
    });
    </script>

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
