<!DOCTYPE html>
<html>

<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "/favicon.png"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<body class="{{body_class}}">

    <div id="sidebar" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        <div id="sidebar-content" class="inner">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
            <h2 class="blog-description">{{@blog.description}}</h2>

            <form id="search">
                <label for="search-field" class="fa fa-search"></label>
                <span><input id="search-field" placeholder="Search"/></span>
            </form>

            <div id="sidebar-links">
                <ul id="sidebar-external">
                    {{> sidebar-external}}
                </ul>
            </div>

            <!--
            <aside>
                <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
            </aside>
            -->

            <footer class="site-footer">
                <section class="copyright">{{> copyright}}</section>
                <section class="poweredby">Proudly published with <a class="icon-ghost" href="https://ghost.org">Ghost</a></section>
            </footer>
        </div>
        <span class=".clearfix"></span>
    </div>

    <main>
        <section id="results"></section>
        {{{body}}}
    </main>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script src="{{asset "js/instantclick.min.js"}}" data-no-instant></script>
    <script data-no-instant>InstantClick.init();</script>

    <script src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
    <script>
        $("#search-field").ghostHunter({
            results : "#results",
            onKeyUp : true,
            zeroResultsInfo : false
        });
    </script>

</body>

</html>
