{{!< default}} {{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template
    --}} <div class="site-header-content">
    {{#if @site.cover_image}}
    {{!-- This is a responsive image, it loads different sizes depending on device
    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
    <img class="site-header-cover" srcset="{{img_url @site.cover_image size=" s"}} 300w, {{img_url @site.cover_image
        size="m" }} 600w, {{img_url @site.cover_image size="l" }} 1000w, {{img_url @site.cover_image size="xl" }} 2000w"
        sizes="100vw" src="{{img_url @site.cover_image size=" xl"}}" alt="" />
    {{/if}}
    <h1 class="site-title">
        {{#if @site.logo}}
        <img class="site-logo" src="{{img_url @site.logo size=" m"}}" alt="{{@site.title}}" />
        {{else}}
        {{@site.title}}
        {{/if}}
    </h1>
    <p>{{@site.description}}</p>
    </div>


    {{!-- The main content area --}}

    <main id="site-main" class="site-main outer">

        <div class="inner">

            {{#page}}

            <article class="article">

                <section class="gh-content gh-canvas">


                    <table style="width: 100%">
                        <tr>
                            <td style="vertical-align: top; width: 33%">
                                <div style="text-align: center">
                                    <a
                                        href='https://play.google.com/store/apps/details?id=app.speisekammer&campaignId=landingPage'><img
                                            alt='Jetzt bei Google Play'
                                            src='https://play.google.com/intl/en_us/badges/static/images/badges/de_badge_web_generic.png'
                                            style="width: 100%;max-width: 200px" /></a>
                                </div>
                            </td>

                            <td style="vertical-align: top; width: 33%">
                                <div style="text-align: center">
                                    <a href='https://apps.apple.com/us/app/speisekammer-vorrat-verwalten/id1575424944'><img
                                            alt='Vorbestellen im App Store'
                                            src='https://speisekammer.app/content/images/2021/10/AppStore-Button-DE-Download--646-x-250-px-.png'
                                            style="width: 100%;max-width: 200px" /></a>
                                </div>
                            </td>


                            <td style="vertical-align: top; width: 33%">
                                <div style="text-align: center">
                                    <a href="https://app.speisekammer.app">
                                        <img src="https://speisekammer.app/content/images/2021/10/WebApp-Button--646-x-250-px---1-.png"
                                            alt='Zur Web-App' style="width: 100%;max-width: 200px" /></a>
                                </div>
                            </td>

                        </tr>
                    </table>





                    <h1 class="article-title">{{title}}</h1>

                    {{content}}

                </section>

            </article>

            {{/page}}


            {{#get "posts" limit="all" filter="tags:[usecase]" as |usecases|}}
            {{#if usecases}}
            <h2>{{t "Use Cases"}}</h2>

            <div class="post-feed">
                {{#foreach usecases visibility="all"}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

                {{/foreach}}
            </div>

            {{/if}}
            {{/get}}


            {{#get "posts" limit="4" as |latestposts|}}
            {{#if latestposts}}
            <h2>{{t "News from our blog"}}</h2>

            <div class="post-feed">
                {{#foreach latestposts visibility="all"}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

                {{/foreach}}
            </div>

            {{/if}}
            {{/get}}

        </div>


    </main>



    {{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in
    default.hbs --}}
    {{#contentFor "scripts"}}
    <script>

        // NOTE: Scroll performance is poor in Safari
        // - this appears to be due to the events firing much more slowly in Safari.
        //   Dropping the scroll event and using only a raf loop results in smoother
        //   scrolling but continuous processing even when not scrolling
        $(document).ready(function () {

            var nav = document.querySelector('.site-nav-main .site-nav');
            var feed = document.querySelector('.post-feed');

            var lastScrollY = window.scrollY;
            var lastWindowHeight = window.innerHeight;
            var lastDocumentHeight = $(document).height();
            var ticking = false;

            function onScroll() {
                lastScrollY = window.scrollY;
                requestTick();
            }

            function onResize() {
                lastWindowHeight = window.innerHeight;
                lastDocumentHeight = $(document).height();
                requestTick();
            }

            function requestTick() {
                if (!ticking) {
                    requestAnimationFrame(update);
                }
                ticking = true;
            }

            function update() {
                var trigger = feed.getBoundingClientRect().top + window.scrollY;
                var progressMax = lastDocumentHeight - lastWindowHeight;

                // show/hide nav
                if (lastScrollY >= trigger - 20) {
                    nav.classList.add('fixed-nav-active');
                } else {
                    nav.classList.remove('fixed-nav-active');
                }

                ticking = false;
            }

            window.addEventListener('scroll', onScroll, { passive: true });
            window.addEventListener('resize', onResize, false);

            update();

        });
    </script>
    {{/contentFor}}