{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}
<header class="main-header {{#if @site.cover_image}}" style="background-image: url({{@site.cover_image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @site.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            <div class="vr"></div>
            <a class="website-link" target="_blank" href="https://inch.fr">inch.fr  →</a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@site.title}}<span> : Blog</span></h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>