{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="site-header-content outer{{#match @custom.identity "Vertical"}} vertical{{/match}}">

    {{#if @site.cover_image}}
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
        <img class="site-header-cover"
            srcset="{{img_url @site.cover_image size="s"}} 300w,
                    {{img_url @site.cover_image size="m"}} 600w,
                    {{img_url @site.cover_image size="l"}} 1000w,
                    {{img_url @site.cover_image size="xl"}} 2000w"
            sizes="100vw"
            src="{{img_url @site.cover_image size="xl"}}"
            alt="{{@site.title}}"
        />
    {{/if}}

    {{#match @custom.identity "!=" "None"}}
        <section class="site-header-inner inner">
            {{#if @custom.include_logo_in_identity}}
            {{#if @site.logo}}
                <img class="site-logo" src="{{@site.logo}}" alt="{{@site.title}}">
            {{/if}}
            {{/if}}
            <div class="site-header-wrapper">
                {{#match @custom.identity "Horizontal"}}
                    <h1 class="site-title">{{@site.title}}</h1>
                {{/match}}
                <p class="site-description">{{@site.description}}</p>
            </div>
        </section>
    {{/match}}

</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed{{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
