{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>

{{#contentFor "meta"}}
  <!-- Classic Meta Tags -->
  <title>{{@blog.title}}</title>
  <meta name="description" content="{{@blog.description}}">

  <!-- Open Graph Meta Tags -->
  <meta property="og:type" content="blog"/>
  <meta property="og:title" content="{{@blog.title}}"/>
  <meta property="og:description" content="{{@blog.description}}"/>
  <meta property="og:site_name" content="{{@blog.title}}"/>
  <meta property="og:url" content="{{@blog.url}}"/>
  <meta property="og:image" content="http://blog.qli.jp/content/images/2014/Aug/my-bear-2-for-twitter.png" />

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{@blog.title}}"/>
  <meta name="twitter:description" content="{{@blog.description}}"/>
  <meta name="twitter:image" content="http://blog.qli.jp/content/images/2014/Aug/my-bear-2-for-twitter.png"/>
  <meta name="twitter:site" content="@hiro"/>
  <meta name="twitter:creator" content="@hiro"/>
{{/contentFor}}