{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@blog.description}}</h2>
        </div>
        <nav class="site-nav">
            <div class="site-nav-left">
                {{#if @blog.navigation}}
                    {{!-- The blog navigation links from /ghost/settings/design --}}
                    {{navigation}}
                {{/if}}
            </div>
            <div class="site-nav-right">
                <div class="social-links">
                    {{#if @blog.facebook}}
                        <a class="social-link social-link-fb" href="{{facebook_url @blog.facebook}}" target="_blank">{{> "icons/facebook"}}</a>
                    {{/if}}
                    {{#if @blog.twitter}}
                        <a class="social-link social-link-tw" href="{{twitter_url @blog.twitter}}" target="_blank">{{> "icons/twitter"}}</a>
                    {{/if}}
                </div>
                {{#if @labs.subscribers}}
                    <a class="subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a>
                {{else}}
                    <a class="rss-button" href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/" target="_blank">{{> "icons/rss"}}</a>
                {{/if}}
            </div>
        </nav>
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
