{{!< default}}

{{!-- The main content area on the About Us page --}}
<div class="container wrapper">
  <div class="page-content">
    {{!-- Page title --}}
    {{#post}}
      <h1 class="page__title center-xs">{{title}}</h1>
      {{#if feature_image}}
        <img class="lazyload js-fadein" data-src="{{img_url feature_image}}" alt="{{title}}"/>
      {{/if}}
    {{/post}}

    <h4>{{t "Drop us a line:"}}</h4>
    <div class="contact-form">
      <form action="//formspree.io/youremail@domain.com" id="contact-form" class="contact-form clearfix" method="post">
        <input type="text" name="username" id="username" title="{{t 'Name'}}" placeholder="{{t 'Name'}}" required>
        <input type="text" name="email" id="email" title="{{t 'Email'}}" class="email" placeholder="{{t 'Email'}}" required>
        <textarea rows="5" name="message" id="message" title="{{t 'Message'}}" placeholder="{{t 'Message'}}" required></textarea>
        <input type="text" name="_gotcha" style="display:none">
        <input class="btn" type="submit" name="submit" title="{{t 'Send'}}" id="submit" value="{{t 'Send'}}">
      </form>
    </div>
  </div>
</div>
