{{!< default}}

<main class="content" role="main">

    {{#post}}

    <article class="{{post_class}}">

        <header class="post-header">
            
            <h1 class="post-title">{{title}}</h1>
            <span class="post-meta"><a href="/">John O'Nolan</a>, <time datetime="{{date published_at format='YYYY-MM-DD'}}">{{date published_at format='DD MMM YYYY'}}</time> on <a href="#">What I Learned Building...</a></span>
        </header>

        <section class="post-content">
            {{content}}
        </section>

    </article>

    {{/post}}

    <footer class="related-footer">
        <a class="subscribe" href="#"><img src="http://f.cl.ly/items/3t1h041Y310P1b292W2U/rss.png" alt="RSS" /></a>
        <article class="related-post">
            <h2 class="related-title">The Future of Mankind Depends on Your Voice</h2>
            <span class="related-meta">John O'Nolan on The Future</span>
            <section class="related-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip...</p>
            </section>
        </article>
    </footer>

</main>