{{!< default}}

<main class="content" role="main">

    {{#post}}

    <article class="{{post_class}}">

        <header class="post-header">
            
            <h1 class="post-title">{{title}}</h1>
            <span class="post-meta"><a href="/">John O'Nolan</a>, <time datetime="{{date published_at format='YYYY-MM-DD'}}">{{date published_at format='DD MMM YYYY'}}</time> on <a href="#">What I Learned Building...</a></span>
        </header>

        <section class="post-content">
            {{content}}
        </section>

    </article>

    <footer class="post-footer">
        <a class="subscribe icon-feed" href="#"><span class="hidden">Subscribe to RSS</span></a>
        <div class="inner">
            <section class="author">
                <h4>John O'Nolan</h4>
                <p>A designer, developer and entrepreneur. Spends his time travelling the world with a bag of kites. Likes journalism and publishing platforms.</p>
            </section>
            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{title}}&url={{../settings.url}}/{{slug}}"><span class="hidden">Twitter</span></a>
                <a class="icon-facebook" href="http://www.facebook.com/sharer.php?u={{../settings.url}}/{{slug}}"><span class="hidden">Twitter</span></a>
                <a class="icon-google-plus" href="#"><span class="hidden">Twitter</span></a>
            </section>
        </div>
    </footer>

    {{/post}}

</main>