{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="{{post_class}}">
  <div class="container wrapper">
    <div class="post-header">
      {{!-- Post tags --}}
      {{#if tags}}
        {{#foreach tags limit="1"}}
          <a class="tag-{{slug}} post-header__tag" href="{{url}}" title="{{name}}" aria-label="{{name}}s">#{{name}}</a>
        {{/foreach}}
      {{/if}}
      {{!-- Post title --}}
      <h1 class="post-header__title">{{title}}</h1>

      <div class="post-header__info">
        <div class="post-header__author">{{authors}}</div>
        <time datetime="{{date format='YYYY-MM-DD'}}" class="post-header__date">{{date published_at}}</time>
        <div class="post-header__read-time">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</div>
      </div>
    </div>
  </div>

  <div class="container wrapper" id="content">
    <div class="grid">
      {{!-- Post Content --}}
      <article class="col-xs-12 col-md-8">
        <div class="post-content">
          {{!-- Post image --}}
          {{#if feature_image}}
            <img class="post-img lazyload js-fadein" src="{{img_url feature_image}}" alt="{{title}}"/>
          {{/if}}
          <div class="post-content__inner">
            {{content}}
          </div>
          {{!-- Post Social Share --}}
          {{>social-share}}
        </div>
      </article>

      <aside class="col-xs-12 col-md-4">
        {{>sidebar}}
      </aside>

    </div>
  </div>
</div>

{{!-- Related posts --}}
{{> related-posts}}

{{/post}}
