{{!< default}}

<main class="content" role="main">

    {{#post}}

    <article class="{{post_class}}">

        <header class="post-header">

            <a id="blog-logo" href="{{../settings.url}}"><img src="assets/img/user.png" alt="" /></a>
            
        </header>
        
        <span class="post-meta"><time datetime="{{date published_at format='YYYY-MM-DD'}}">{{date published_at format='DD MMM YYYY'}}</time> on <a href="#">What I Learned Building...</a></span>
        <h1 class="post-title">{{title}}</h1>
        

        <section class="post-content">
            {{content}}
        </section>

    </article>

    {{/post}}

</main>