{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Tag header --}}
{{#tag}}
<header class="tag-archive-header">
    <div class="tag-cover" style="{{#if image}}background-image: url({{image}}){{/if}}"></div>

    <h4 class="tag-archive-header-name"><i class="fa fa-tag"></i>{{name}}</h4>

    <p class="tag-description">
        {{#if description}}
            {{description}}
        {{else}}
            <span class="tag-stats"><i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
        {{/if}}
    </p>

    <a class="subscribe-button icon-feed" href="{{url}}rss/">Subscribe to this tag</a>
</header>
{{/tag}}

{{!-- The tag below includes the post loop - partials/loop.hbs --}}
{{> "loop"}}

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    {{> disqus}}

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>