{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <nav class="site-nav">
            <div class="site-nav-left">
                {{#if @blog.navigation}}
                    {{!-- The blog navigation links from /ghost/settings/design --}}
                    {{navigation}}
                {{/if}}
            </div>
            <div class="site-nav-right">
                <div class="social-links">
                    {{#if @blog.facebook}}
                        <a class="social-link social-link-fb" href="{{facebook_url}}">{{> "icons/facebook"}}</a>
                    {{/if}}
                    {{#if @blog.twitter}}
                        <a class="social-link social-link-tw" href="{{twitter_url}}">{{> "icons/twitter"}}</a>
                    {{/if}}
                </div>
                {{#if @labs.subscribers}}
                    <a class="subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a>
                {{else}}
                    <a class="rss-button" href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/" target="_blank">{{> "icons/rss"}}</a>
                {{/if}}
            </div>
        </nav>
    </div>
</header>

{{!-- If we have a tag cover, display that - else blog cover - else nothing --}}
<header class="main-header tag-head {{#if tag.image}}" style="background-image: url({{tag.image}}){{else}}{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}{{/if}}">
    <div class="vertical">
        {{#tag}}
        <div class="main-header-content inner">
            <h1 class="page-title">{{name}}</h1>
            <h2 class="page-description">
                {{#if description}}
                    {{description}}
                {{else}}
                    A {{../pagination.total}}-post collection
                {{/if}}
            </h2>
        </div>
        {{/tag}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        {{!-- The tag below includes the post loop - partials/loop.hbs --}}
        {{> "loop"}}

    </div>
</main>
