{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<header class="tag-archive-header">
    <h1>{{tag.name}}</h1>
</header>

{{! Each post will be output using this markup }}
{{#foreach posts}}

<article class="{{post_class}}">
    <header class="post-header">
        <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="on "}}</span>
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

    </header>
    <section class="post-content">
        {{content}}
    </section>
</article>

{{/foreach}}

{{!! After all the posts, we have the previous/next pagination links }}
{{pagination}}