<section class="post-full-authors">

    <div class="post-full-authors-content">
        <p>This post was a collaboration between</p>
    </div>

    <ul class="author-list">
    {{#each @authors as |author|}}
        <li class="author-list-item">

            <div class="author-card">
                <div class="basic-info">
                    {{#if author.image}}
                        <img class="author-profile-image" src={{author.image}} alt={{author.name}} />
                    {{else}}
                        <div class="author-profile-image">{{svg-icons/avatar}}</div>
                    {{/if}}
                    <h2>{{author.name}}</h2>
                </div>
                <div class="bio">
                    {{#if author.content}}
                        <p>{{author.content}}</p>
                        <p>{{#link-to 'author' author.id}}More posts{{/link-to}} by {{author.name}}.</p>
                    {{else}}
                        <p>Read {{#link-to 'author' author.id}}more posts{{/link-to}} by this author.</p>
                    {{/if}}
                </div>
            </div>

            {{#if author.image}}
                {{#link-to 'author' author.id class="moving-avatar"}}
                    <img class="author-profile-image" src={{author.image}} alt={{author.name}} />
                {{/link-to}}
            {{else}}
                {{#link-to 'author' author.id class="moving-avatar author-profile-image"}}{{svg-icons/avatar}}{{/link-to}}
            {{/if}}

        </li>
    {{/each}}

    </ul>

</section>
