<?xml version = "1.0" encoding = "UTF-8"?>
<rss xmlns:yandex="http://news.yandex.ru" xmlns:media="http://search.yahoo.com/mrss/"
    xmlns:turbo="http://turbo.yandex.ru" version="2.0">
    <channel>
        <title>
            <![CDATA[ {{@site.title}} ]]>
        </title>
        <description>
            <![CDATA[ {{@site.description}} ]]>
        </description>
        <link>{{@site.url}}</link>
        <language>ru</language>
        <image>
            <url>{{@site.url}}/favicon.png</url>
            <title>{{@site.title}}</title>
            <link>{{@site.url}}</link>
        </image>
        <lastBuildDate>{{date format="ddd, DD MMM YYYY HH:mm:ss ZZ"}}</lastBuildDate>

        {{#get "posts" include="authors" limit="500" order="published_at desc" page="4"}}
        {{#foreach posts}}
        <item turbo="true">
            <title>
                <![CDATA[ {{title}} ]]>
            </title>
            <link>{{url absolute="true"}}</link>
            <turbo:topic>
                <![CDATA[ {{title}} ]]>
            </turbo:topic>
            <turbo:source>{{url absolute="true"}}</turbo:source>
            <author>
                <![CDATA[ {{primary_author.name}} ]]>
            </author>
            <pubDate>{{date format="ddd, DD MMM YYYY HH:mm:ss ZZ"}}</pubDate>
            <media:content url="{{feature_image}}" medium="image" />
            <turbo:content>
            <![CDATA[ <header><h1>{{title}}</h1><figure><img src="{{feature_image}}" /></figure><i>{{excerpt}}</i></header>{{content}} ]]>
            </turbo:content>
        </item>
        {{/foreach}}
        {{/get}}

    </channel>
</rss>
