{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{unless (and blog.cover blog.coverImage) 'no-cover'}}" style="{{if blog.coverImage coverImageStyle}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if blog.logo}}
                    <img class="site-logo" src="{{url blog.logo}}" alt="{{blog.title}}" />
                {{else}}
                    {{blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{blog.description}}</h2>
        </div>

        {{site-nav}}

        {{#if blog.coverMeta.attributionLink}}
          {{image-attribution meta=blog.coverMeta}}
        {{/if}}
    </div>

</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
            {{#each (sort-by 'date:desc' model) as |post|}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{post-card post=post}}

            {{/each}}
        </div>

    </div>
</main>
