{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer">
    <div class="inner">
        <SiteNav />
    </div>
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#let model as |post|}}

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full {{post_class}} {{unless post.image 'no-image'}}">

            <header class="post-full-header">
                <h1 class="post-full-title">{{post.title}}</h1>
            </header>

            {{#if post.image}}
            <figure class="post-full-image">
                <ResponsiveImage @image={{responsive-image-url post.image}} />
            </figure>
            {{/if}}

            <section class="post-full-content">
                <div class="post-content">
                    {{markdown-to-html post.content tagName=""}}
                </div>
            </section>

        </article>

    </div>
</main>

{{/let}}
