{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header outer">
    <div class="inner">
        <SiteNav />
    </div>
</header>

{{#let model.post as |post|}}

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full {{post_class}} {{unless post.image 'no-image'}}">

            <header class="post-full-header">
                <section class="post-full-meta">
                    <time class="post-full-meta-date" datetime="{{date post format="YYYY-MM-DD"}}">{{date post format="D MMMM YYYY"}}</time>
                    {{#if post.primaryTag}}
                        <span class="date-divider">/</span> {{#link-to 'tag' post.primaryTag}}{{if post.primaryTag.name post.primaryTag.name post.primaryTag}}{{/link-to}}
                    {{/if}}
                </section>
                <h1 class="post-full-title">{{post.title}}</h1>
            </header>

            {{#if post.image}}
            <figure class="post-full-image">
                <ResponsiveImage @image={{responsive-image-url post.image}} />
            </figure>
            {{/if}}

            <section class="post-full-content">
                <div class="post-content">
                    {{markdown-to-html post.content tagName=""}}
                </div>
            </section>

            {{!-- Email subscribe form at the bottom of the page --}}
            {{#if @labs.subscribers}}
            <section class="subscribe-form">
                <h3 class="subscribe-form-title">Subscribe to {{@site.title}}</h3>
                <p>Get the latest posts delivered right to your inbox</p>
                {{subscribe_form placeholder="youremail@example.com"}}
            </section>
            {{/if}}

            <footer class="post-full-footer">

                {{!-- There are two options for how we display the byline/author-info.
                If the post has more than one author, we load a specific template
                from includes/byline-multiple.hbs, otherwise, we just use the
                default byline. --}}

                {{#if (gt post.authors.length 1)}}
                    <BylineMultiple @authors={{post.authors}} />
                {{else}}
                    <BylineSingle @author={{post.authors.firstObject}} />
                {{/if}}

            </footer>

            {{!--
            <section class="post-full-comments">
                If you want to embed comments, this is a good place to do it!
            </section>
            --}}

        </article>

    </div>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            {{#if post.primaryTag}}
                {{#if this.relatedPosts}}
                <article class="read-next-card" style={{tagBackgroundImageStyle}}>
                    <header class="read-next-card-header">
                        <small class="read-next-card-header-sitetitle">&mdash; {{blog.title}} &mdash;</small>

                        <h3 class="read-next-card-header-title"><a href="{{url}}">{{if post.primaryTag.name post.primaryTag.name post.primaryTag}}</a></h3>

                    </header>
                    <div class="read-next-divider">{{svg-icons/infinity}}</div>
                    <div class="read-next-card-content">
                        <ul>
                            {{#each (take 3 relatedPosts) as |post|}}
                            <li>{{#link-to 'post' post.id}}{{post.title}}{{/link-to}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <footer class="read-next-card-footer">
                        {{#link-to 'tag' model.post.primaryTag}}{{plural relatedPosts.length empty='No posts' singular='% post' plural='See all % posts'}} →{{/link-to}}
                    </footer>
                </article>
                {{/if}}
            {{/if}}

            {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#if this.nextPost}}
                <PostCard @post={{this.nextPost}} />
            {{/if}}

            {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#if this.prevPost}}
                <PostCard @post={{this.prevPost}} />
            {{/if}}

        </div>
    </div>
</aside>

<FloatingHeader @post={{model.post}} />

{{/let}}
