{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<Header @background={{blog.coverImage}}> {{!--Special header.hbs partial to generate the <header> tag--}}
    <div class="inner">
        <SiteNav />
        <div class="site-header-content">
            <h1 class="site-title">{{model.tag}}</h1>
            <h2 class="site-description">
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural model.posts.length empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </h2>
        </div>
    </div>
</Header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {{#each (sort-by 'date:desc' model.posts) as |post|}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                <PostCard @post={{post}} />
            {{/each}}
        </div>
    </div>
</main>
