<Header @background={{if coverImage coverImage blog.coverImage}}>
    <div class="inner">
        <SiteNav />
        <div class="site-header-content">
            <h1 class="site-title">{{if model.name model.name model.tag}}</h1>
            <h2 class="site-description">
                {{#if model.content}}
                    {{markdown-to-html model.content tagName=""}}
                {{else}}
                    A collection of {{plural model.posts.length empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </h2>
        </div>
    </div>
</Header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {{#each (sort-by 'date:desc' model.posts) as |post|}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                <PostCard @post={{post}} />
            {{/each}}
        </div>
    </div>
</main>
